.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: transparent;
  color: #ffffff;
  border-bottom: 2px solid #00FFB1;
}

.brandLogo {
  font-size: 1.5rem;
  margin-left: 20px;
  text-decoration: none;
  color: #00FDB1;
}

.menu {
  font-size: 1.25rem;
  display: flex;
  justify-content: flex-end;
}

.menu a {
  margin-left: 30px;
  text-decoration: none;
  color: #00FDB1;
}

@media (max-width: 450px) {
  .menu {
    display: none;
  }
}
