.titleSkills {
  position: absolute;
  width: 332px;
  height: 118px;
  left: 40px;
  top: 10px;
  font-weight: 400;
  font-size: 80px;
  line-height: 118px;
  letter-spacing: 0.095em;
  color: #5bffce;
}
